:root {
  --white: #fff;
  --lighten-50: #e5f2ff;
  --lighten-100: #b3d6ff;
}
body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #333;
  background: var(--white);
}

.title {
  font-size: 6rem !important;
  letter-spacing: -3px;
}

.subtitle {
  color: var(--lighten-100);
  font-size: 1.5rem !important;
  line-height: 1.3;
}

.gh-btns {
  margin: 80px 0 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 15px 0 15px;
  color: #fff;
}

.bg-gradient {
  background: #0078FF;
  background: -moz-linear-gradient(45deg, #0078FF 0%, #5ac8fa 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #0078FF), color-stop(100%, #5ac8fa));
  background: -webkit-linear-gradient(45deg, #0078FF 0%, #5ac8fa 100%);
  background: -o-linear-gradient(45deg, #0078FF 0%, #5ac8fa 100%);
  background: -ms-linear-gradient(45deg, #0078FF 0%, #5ac8fa 100%);
  background: linear-gradient(45deg, #0078FF 0%, #5ac8fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0078FF",endColorstr="#5ac8fa",GradientType=1 );
  margin: 0 auto;
}

/* Typography */

p:not(.lead) {
  font-size: 1.125rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  line-height: 1.46;
}

.heading {
  padding: 0;
  text-transform: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.heading-inverse {
  color: white;
}

.heading-1 {
  font-size: 2.5rem !important;
  line-height: 1.3;
}

.heading-2 {
  font-size: 2rem !important;
  line-height: 1.3;
}

.heading-3 {
  font-size: 1.5rem !important;
  line-height: 1.3;
  color: #207adf;
}

.text-justify {
  text-align: justify!important;
}

/* Code */

/* .snippet {
  position: relative;
  overflow: visible;
} */

.snippet code {
  font-size: 0.875rem;
}

.code {
  background-color: var(--lighten-50);
  border-radius: 3px;
  color: #207adf;
  font-size: 70%;
  margin: 0;
  padding: 0.2rem;
}

/* Footer */

.footer {
  color: rgba(255, 255, 255, 0.8);
}

.footer p {
  font-size: 0.875rem;
}

.credits, .maintainer {
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding: 30px 0;
  margin: 0;
}

.footer-link {
  color: white;
  border-color: white;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: none;
  border-color: white;
}
.love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
  to {-webkit-transform: scale(1.2);}
}

@-moz-keyframes love {
  to {-moz-transform: scale(1.2);}
}
@keyframes love {
  to {transform: scale(1.2);}
}

pre {
  margin: 0 0 10px;
  font-size: 0.875rem;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 0.25rem;
}

.slice {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

[class^=space-] {
  display: block;
}

.space-mb {
  margin-bottom: 3rem;
}

.slice--offset-top {
  padding-top: 6rem !important;
}

.slice--offset-bottom {
  padding-bottom: 6rem !important;
}
